<footer class="row navbar-fixed-bottom">

  <div class="row text-center">
    <div class="col-sm-4 col-xs-6"><h5>Follow US</h5></div>
    <div class="col-sm-4 col-xs-6"><h5>Contacts</h5></div>
    <div class="col-sm-4 hidden-xs"><h5>Learn More</h5></div>
  </div>

</footer>