<header class="row text-center ">
  <div class="col-md-4 menu col-xs-6">
    <a href="">Address: <br/>  8710 Lefferts BLVD,<br/> Richmond Hill, NY, 11418</a>
  </div>
  <div class="col-md-4 menu col-xs-4 hidden-xs hidden-sm">
    <a href=""><h1>Welcome to <br/> SellElectronics.NYC</h1></a>
  </div>
  <div class="col-md-4 menu col-xs-6">
    <a href="">Phone: <br/> +1 (718) 846-1600</a> <br/>
    <a href="">8710leffertsblvd@gmail.com</a>
  </div>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <div class="visible-sm visible-xs text-center"><h2>Welcome to <br/> SellElectronics.NYC</h2></div>
</header>


<div class="row">
  <img src="devider.png" alt="" class="img-responsive devider"/>
</div>