<header class="row text-center ">
  <div class="col-md-4 menu col-xs-6">
    <a href="https://www.google.com/maps/place/71+W+47th+St,+New+York,+NY+10036">Address: <br/> 71 W 47th St, <br/> New York, NY 10036,
       Suite 302</a>
  </div>
  <div class="col-md-4 menu col-xs-4 hidden-xs hidden-sm">
    <a href=""><br/> <h2>Welcome to <br/> SellElectronics.NYC</h2></a>
  </div>
  <div class="col-md-4 menu col-xs-6">
    <a href="tel:+1-718-846-1600">Phone: <br/> +1 (718) 846-1600 <br/> call right now</a> <br/>

  </div>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <div class="visible-sm visible-xs text-center h1"><h2>Welcome to <br/> SellElectronics.NYC</h2></div>

</header>


<div class="row">
  <img src="devider.png" alt="" class="img-responsive devider"/>
</div>