<header>
  <div class="row main-header">
        <div class="row up-header hidden-xs">
          <div class="col-sm-2 col-md-3"></div>
          <div class="col-sm-4 col-md-4 text-right"><a href="">+1-347-353-2772</a></div>
          <div class="col-sm-6 col-md-5" ><a href="">8710 Lefferts blvd Richmond Hills, NY, 11375</a></div>
        </div>
    <div class="row menu">
      <div class="col-md-4 col-sm-4 logo text-center">
        <%= link_to 'SellElectronics.NYC', root_path%>
      </div>
      <div class="col-md-8 col-sm-8  text-center links hidden-xs">
      <span> <%=link_to 'HOME ', root_path %>
             <%=link_to ' WHAT WE BUY ', root_path %>
             <%=link_to 'CONTACTS', root_path %>
      </span>
      </div>
      <!--<div class="visible-xs">-->
      <!--<span> <a href=""> <i class="fa fa-map-marker pull-left">show location</i></a>-->
        <!--<a href=""><i class="fa fa-phone pull-right"> call</i></a>-->
      <!--</span>-->
      <!--</div>-->

    </div>
  </div>

  <div class="row submenu">

  </div>

</header>