<div class="space"></div>
<div class="container-fluid footer">
  <div class="text-center">
    <div class="col-md-6 col-sm-6 col-xs-12"><h4>Follow us:</h4>
    <h4><i class="fa fa-facebook-square"></i> FaceBook</h4>
      <h4><i class="fa fa-google-plus-square"></i> Google Plus</h4>
      <h4><i class="fa fa-twitter-square"></i> Twitter </h4>
      <h4>main site - WeBuyGoods.Com</h4>
    </div>
    <div class="col-md-6 col-sm-6 hidden-xs"> <h4>Contacts:</h4>
      <h4><i class="fa fa-envelope"></i> 8710leffertsblvd@gmail.com</h4>
      <h4><i class="fa fa-phone"></i> +1-347-353-2772</h4>
      <h4><i class="fa fa-map-marker"></i> 8710 Lefferets blvd Richnond Hill NY</h4>
    </div>


  </div>
</div>