
<div class="row text-center">
  <img src="devider-footer.png" class="img-responsive devider" alt=""/>

<footer>
  <div class="col-md-4 col-xs-6 center-block">
    FOLLOW US <br/>
    <a href=""><i class="fa fa-facebook-square"></i> facebook</a><br/>
    <a href=""><i class="fa fa-twitter-square"></i> twitter</a><br/>
    <a href=""><i class="fa fa-google-plus-square"></i> google+</a>
  </div>
  <div class="col-md-4 col-xs-6 center-block">CONTACTS <br/>
    <a href="">WeBuyGoods.Com</a><br/>
    <a href="">tel: +1-718-846-1600</a><br/>
    <a href="">8710Leffertsblvd@gmail.com</a>
  </div>
  <div class="col-md-4 center-block hidden-xs"></div>
</footer>
</div>