<div class="row text-center text-uppercase">
<h2>We buy electronics in <br class="visible-xs"/> New York City</h2>
</div>
<hr/>

<p><strong>Selling electronics in New York </strong>  has never been so easy. You can call us right now  or come
  to our place in Queens and get top dollar for you items. <strong> We buy all Apple Products </strong> (iPhones, iPads, iMacs, MacBooks,
  Apple Watches, MacPros, Apple TV), Nikon, Canon, other cameras, X-Box One, Play Station 4, other Phones and Tablets.</p>
<p>If you didn't find your item here, just call us! May be we just forget to write it here!</p>


<p> We don't purchase any lost or stolen items. Please make sure to
  have identification and to be over the age of 18.
  </p>
<hr/>
<div class="row center-block ">
  <div class="col-md-4 col-lg-4 col-sm-4 mark">
    <h4>We buy iPhone 6 / 6 Plus</h4>
    <img src="iphone-6.jpg" class="img-responsive center-block" alt=""/>
    <br/>
    <a href="" class="btn btn-warning btn-block"> READ MORE</a>
    <br/>
    <br/>

  </div>

  <hr class="visible-xs"/>
    <div class="col-md-4 col-lg-4 col-sm-4 mark">
      <h4>We buy iPhone 5 / 5S / 5C</h4>
      <img src="iphone-5.jpg" class="img-responsive center-block" alt=""/>
      <br/>
      <a href="" class="btn btn-warning btn-block"> READ MORE</a>
      <br/>
      <br/>

  </div>

  <hr class="visible-xs"/>
      <div class="col-md-4 col-lg-4 col-sm-4 mark">
        <h4>We buy iPad Air / Mini</h4>
        <img src="iPad.jpg" class="img-responsive center-block" alt=""/>
        <br/>
        <a href="" class="btn btn-warning btn-block"> READ MORE</a>
        <br/>
        <br/>
      </div>
</div>
<hr/>
<div class="row center-block ">
  <div class="col-md-4 col-lg-4 col-sm-4 mark">
    <h4>We buy MacBook Air / Pro</h4>
    <img src="mac-air.jpg" class="img-responsive center-block" alt=""/>
    <br/>
    <a href="" class="btn btn-warning btn-block"> READ MORE</a>
    <br/>
    <br/>

  </div>

  <hr class="visible-xs"/>
  <div class="col-md-4 col-lg-4 col-sm-4 mark">
    <h4>We buy iMac / iMac Retina</h4>
    <img src="imac.jpg" class="img-responsive center-block" alt=""/>
    <br/>
    <a href="" class="btn btn-warning btn-block"> READ MORE</a>
    <br/>
    <br/>

  </div>

  <hr class="visible-xs"/>
  <div class="col-md-4 col-lg-4 col-sm-4 mark">
    <h4>We buy all kinds of Apple Watch</h4>
    <img src="applewatch.jpg" class="img-responsive center-block" alt=""/>
    <br/>
    <a href="" class="btn btn-warning btn-block"> READ MORE</a>
    <br/>
    <br/>
  </div>
</div>
<hr/>

<div class="row center-block ">
  <div class="col-md-4 col-lg-4 col-sm-4 mark">
    <h4>Any Phones and Tablets</h4>
    <img src="samsung.jpg" class="img-responsive center-block" alt=""/>
    <br/>
    <a href="" class="btn btn-warning btn-block"> READ MORE</a>
    <br/>
    <br/>

  </div>

  <hr class="visible-xs"/>
  <div class="col-md-4 col-lg-4 col-sm-4 mark">
    <h4> X-Box One / Play Station 4</h4>
    <img src="gamepad.jpg" class="img-responsive center-block" alt=""/>
    <br/>
    <a href="" class="btn btn-warning btn-block"> READ MORE</a>
    <br/>
    <br/>

  </div>

  <hr class="visible-xs"/>
  <div class="col-md-4 col-lg-4 col-sm-4 mark">
    <h4>Canon / Nikon / Other Cameras</h4>
    <img src="camera.jpg" class="img-responsive center-block" alt=""/>
    <br/>
    <a href="" class="btn btn-warning btn-block"> READ MORE</a>
    <br/>
    <br/>
  </div>
</div>
<hr/>



