
<% meta title: "Sell Electronics NYC | Sell Electronics Manhattan | Sell Electronics Queens" %>



<div class="container">
  <div class="jumbotron text-center">
    <h1>Welcome to <br/> Sell Electronics NYC</h1>
  </div>
</div>

<div class="container text-center">
  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 img-div">
    <img src="iphone-6.jpg" class="img-responsive"  alt="Sell iPhone 6 PLUS NYC"/>
  </div>
  <div class="col-md-6 col-xs-12 col-sm-6 text-justify">
    <h2>PLEASE REMEMBER </h2>

    <p>We only purchase Apple iPhones in NYC that have no
      icloud account attached to them. Please make
      sure to have identification and to be over the
      age of 18. We do not purchase lost or stolen property.
      Sell iPhone 6 in New York City </p>
    <p>Selling your iPhone 6 for cash in New York City could not be any easier. You bring in your iPhone 6 to our
      Queens location. We inspect the phone, make sure
      it's free of defects and then we proceed to provide
      you with an offer based on current market rates.
      Once the offer is accepted you will receive Cash
      or Check instantly. </p>
  </div>
</div>

<div class="space">

</div>

<div class="container text-center">

  <div class="col-md-6 col-xs-12 col-sm-6 text-justify">
    <h2>PLEASE REMEMBER </h2>

    <p>We only buy iPhones 5 in New York that have no
      icloud account attached to them. Please make
      sure to have ID and to be over 18 years old. We don't buy lost or stolen items.
      Sell iPhone 6 in New York </p>
    <p>Selling your iPhone 6 for cash in New York City could not be any easier. You bring in your iPhone 6 to our
      Queens location. We inspect the phone, make sure
      it's free of defects and then we proceed to provide
      you with an offer based on current market rates.
      Once the offer is accepted you will receive Cash
      or Check instantly. </p>
  </div>
  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12 img-div">
    <img src="iphone-6-2.jpg" class="img-responsive"  alt="Sell iPhone 6 PLUS NYC"/>
  </div>
</div>
