<% meta title: "Sell X BOX PLAY STATION NINTENDO Watch NYC | SellApple X BOX PLAY STATION NINTENDO Manhattan | Sell X BOX PLAY STATION NINTENDO Queens",
description:" We buy your electronics for top cash in NYC. Sell iPhone, iPad, iPod, MacBook, iMac, Samsung, Canon, Nikon, X Box, Play Station.",
keywords: %w(iPhone iPod iPad iPhone6 iPhone5 MacBook Mac Book iMac Samsung Galaxy Tablet Tab)
%>
<div class="row">

  <%= link_to(root_path, :class => 'back_btn') do %>

      <i class="fa fa-arrow-circle-o-left"> BACK TO MAIN</i>

  <% end %>

  <h1 class="text-center">SELL X BOX ONE, PLAY STATION, NINTENDO WII</h1>
</div>

<div class="row">
  <div class="col-sm-6 mark">
    <img src="gamepad.jpg" class="img-responsive" alt=""/>
  </div>
  <div class="col-sm-6">
    <p>
      <strong>
        Selling your XBOX, PLAY STATION, NINTENDO
      </strong> or other game consoles
      for top dollar
      in New York City could not be any easier. You bring in your item to our
      location. We inspect it , make sure it's free of defects and
      then we proceed to provide you with the best offer based on current market rates.
      Once the offer is accepted you will receive Cash or Check instantly. </p>
    <p>
      Please make sure to have identification and to be over the age of 18. We do not purchase
      lost or stolen property.
      </p>
  </div>
</div>
