<% meta title: "Sell iPad Air 2 / Air 1 / Mini NYC | Sell iPad Air 2 / Air 1 / Mini Manhattan | Sell iPad Air 2 / Air 1 / Mini Queens" %>

<div class="row">

  <%= link_to(root_path, :class => 'back_btn') do %>

      <i class="fa fa-arrow-circle-o-left"> GO MAIN</i>

  <% end %>

  <h1 class="text-center">SELL IPAD AIR 2 / AIR / MINI</h1>
</div>

<div class="row">
  <div class="col-sm-6 mark">
    <img src="iPad.jpg" class="img-responsive" alt=""/>
  </div>
  <div class="col-sm-6">
    <p><strong>Selling your Ipad Air </strong> or iPad Mini for top cash
    in New York City could not be any easier. You bring in your Tablet to our
    location. We inspect your item, make sure it's free of defects and
    then we proceed to provide you with the best offer based on current market rates.
    Once the offer is accepted you will receive Cash or Check instantly.</p>
    <p>We only purchase Apple MacBook in NYC that have no icloud account attached to them.
      Please make sure to have identification and to be over the age of 18. We do not purchase
      lost or stolen property.</p>
  </div>
</div>
