<% meta title: "Sell iPhone 5 5S 5C NYC | Sell iPhone 5 5S 5C Manhattan | Sell iPhone 5 5S 5C Queens",
description:" We buy your electronics for top cash in NYC. Sell iPhone, iPad, iPod, MacBook, iMac, Samsung, Canon, Nikon, X Box, Play Station.",
keywords: %w(iPhone iPod iPad iPhone6 iPhone5 MacBook Mac Book iMac Samsung Galaxy Tablet Tab)
%>
<div class="row">

    <%= link_to(root_path, :class => 'back_btn') do %>

        <i class="fa fa-arrow-circle-o-left"> BACK TO MAIN</i>

    <% end %>

  <h1 class="text-center">SELL iPHONE 5 / 5S/ 5C</h1>
</div>

<div class="row">
  <div class="col-sm-6 mark">
    <img src="iphone-5.jpg" class="img-responsive" alt=""/>
  </div>
  <div class="col-sm-6">
    <p>
      <strong>
        Selling iPhones 5 / 5S / 5C for cash
      </strong>

      in New York City could not be
      any easier. Bring your iphone to our Queens location. We check the phone, make sure it's free of
      defects and then we proceed to provide you with the best offer based on current market
      rates. Once the offer is accepted you will receive Cash or Check instantly. </p>
    <p>
      We only purchase Apple iPhones in NYC that have no icloud account attached to them.
      Please make sure to have identification and to be over the age of 18. We do not purchase
      lost or stolen property.
    </p>
  </div>
</div>



