@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

html, body {
  font-family: 'PT sans', Arial;
  color: #0f1e3b;
}

h1{
  font-weight: bold;
  margin-top: 30px;
}

.main-header {

  background: #496d94;
  height: 80px;

}

.up-header {
  height: 40px;

}

.up-header a {
  font-size: 130%;
  color: #dedede;
}
header a {

  font-size: 200%;
  color: #f1f1f1;
  text-decoration: none;

}

.links a {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 3px solid white;
  font-size: 170%;

}

.links a:last-child {
border: 0;
}


footer {
  height: 80px;
  background: #496d94;

}

.list a {
  font-size: 120%;
  color: #0f1e3b;
}

.navbar-fixed-bottom {

}

h5 {
  color: #efefef;
}


