@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

body, html {

  font-family: 'PT sans', Arial;
  background: #ffffff;
  columns: #131313;
}

h1 {
  text-shadow: 1px 1px 1px black;
}

.navbar {

  background: #d8d8d8;

}

.navbar, .navbar-brand {

font-size: 140%;

}


li > a:hover {

  text-decoration: none;

}

li > a {
  position: relative;
  color: #000;
  text-decoration: none;
}

li > a:hover {
  color: #000;
}

li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

//li > a:hover:before {
//  visibility: visible;
//  -webkit-transform: scaleX(1);
//  transform: scaleX(1);
//}

@media (min-width: 760px) {
  li > a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }


}

.jumbotron {
  background: white;
}

.mob-btn {
  width: 130px;

}

p {
  text-indent: 40px;
}

.img-responsive {
  border-color: #ffffff;
  border-radius: 10px;
}

.space {

  height: 22px;

}

.footer {

  height: 140px;
  background: #d8d8d8;

}

h4 {

  font-size: 100%;
  color: #747474

}