@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

html, body {

  font-family: 'PT sans', Arial;
  color: black;

}

h1, h2 {
  font-weight: bold;
}

header h2,  .h1 {

  color: gold;

}

h2 a {
  color: red;
  z-index: 22;
}

h4 {
  font-weight: bold;
  font-size: 140%;
}

p {
  text-indent: 30px;
  font-size: 130%;
}

a > h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  top: 10px;
}

a {
  color: white;
  font-size: 120%;
}

a:hover {
  text-decoration: none;
  color: white;
}

header {
  height: 120px;
  background: #131313;
  z-index: 2;
  color: white;
}

.devider {
  opacity: .95;
  z-index: 1;
}

@media(max-width:992px){

  header{
    height: 200px;
  }

}

.mark {
background: #f6f6f6;
}

.back_btn, .back_btn:hover {
  font-size: 130%;
  text-indent: 20px;
  color: black;
}


footer {
  height: 100px;
  background: black;
  color: white;
}
@media(min-width:768px) {
  .row > .mark:first-child {
    border-radius: 25px 0 0 25px
  }
  .row > .mark:last-child {
    border-radius: 0 25px 25px 0;
  }
}
@media(max-width:767px){

  .mark {
    border-radius: 25px;
  }
  footer {
    height: 120px;
    font-size: 75%;
  }

}